img {
    max-width: 100% !important;
}

.fl {
    float: left;
    clear: none;
}
.fr {
    float: right;
    clear: none;
}
.mt5 {
    margin-top: 5px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.form-table {
    width: 100%;
}
.checkbox_item {
    width: 20px;
}
.col-xs-120 {
    width: 98%;
    margin: 0 auto;
}
.col-xs-120 .form-group {
    width: 46%;
    float: left;
    margin-left: 36px;
}
.searchFormLabel {
    width: 100%;
}
#searchForm .pull-right {
    margin-right: 45px;
}
.ml5 {
    margin-left: 5px;
}
.mr8 {
    margin-right: 8px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.paging_bootstrap {
    margin-top: -8px;
}
.pagination {
    margin-top: 8px;
    margin-right: 2px;
    float: right;
}
.control-label {
    color: #f39c12;
}
.cls {
    clear: both;
}
.form-body {
    clear: both;
}
.button-group {
    margin-top: 22px;
}
.submit {
    margin-right: 5px;
    float: left;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 33px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    right: -2px;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    min-width: 100%;
    background: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.form-control {
    height: 36px;
}
.Hidden
{
    display: None;
}
.Show
{
    display: block;
}
.input-required {
    color: #f56954;
    margin-left: 1px;
    font-size: 11px;
}
.td_textarea textarea {
    width: 99%;
    height: 80px;
    padding: 4px;
}
.td_select select {
    padding: 2px;
}
.td_input_text input {
    width: 99%;
    padding: 4px;
}
#dialog {

}

.nomarlText
{
    font-weight:200 !important;
    cursor: pointer;
}
.box .chat .news-feed-item-detail>.message .comment {
    float: left;
}
.box .chat .news-feed-item-detail>.message .date {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: -5px;
    clear: both;
    float: left;
}
.fa-likes-o {
    background-image: url(../img/clap_off_@3x.png);
}
.fa-likes {
    background-image: url(../img/clap_on_@3x.png);
}

.to_univ-on {
    display: block;
    background-image: url(../img/senpai_icon.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height : 25px;
    width: 25px;
}
.to_univ-off {
    display: block;
    background-image: url(../img/senpai_icon.png);
    background-position: 0px -35px;
    background-repeat: no-repeat;
    height : 25px;
    width: 25px;
}
.to_high-on {
    display: block;
    background-image: url(../img/senpai_icon.png);
    background-position: -25px 0px;
    background-repeat: no-repeat;
    height : 25px;
    width: 25px;
}
.to_high-off {
    display: block;
    background-image: url(../img/senpai_icon.png);
    background-position: -25px -35px;
    background-repeat: no-repeat;
    height : 25px;
    width: 25px;
}
.to_teacher-on {
    display: block;
    background-image: url(../img/senpai_icon.png);
    background-position: -50px 0px;
    background-repeat: no-repeat;
    height : 25px;
    width: 25px;
}
.to_teacher-off {
    display: block;
    background-image: url(../img/senpai_icon.png);
    background-position: -50px -35px;
    background-repeat: no-repeat;
    height : 25px;
    width: 25px;
}


.badge-custom {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 5px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.graph button {
    background: #428bca !important;
    border-color: #428bca !important;
    padding: 1px 4px !important;
}

/* Tag template */
.post-wrap {
    display: inline;
    position: relative;
    height: 22px;
    background-color: #eef;
    float: left;
    margin: 1px 1px 1px 2px;
    padding:.5em .6em .3em;
    border: 1px solid #ddd;
    border-radius: .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.delete-button{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px 0px;
    border-radius: 4px;
    height: 16px;
    width: 22px;
    overflow: hidden;
    display:none;
}
.delete-button a{
    color:white;
}
.post-wrap:hover .delete-button{
    display:inherit;
}
.button-delete {
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
    padding: 1px 0 1px 0;
    border-radius: 4px 4px 4px 4px;
    background-color: #eef;
    border: 0;
}
.button-delete i {
    margin: 0;
    padding: 0;
}

.tag-wrapper{
    float: left;
    width: 100%;

}
.tag-wrapper:hover {
    background: #eee;
}

.tag-select{
    padding: 0 2px 0 2px;
    height: 20px;
    display: none;
    border-radius: 4px;
    color: #6e7e91;
    float: left;
    height: auto;
    margin: 2px 2px 2px 1px;
    padding-left: 1px;
    position: relative;
}
.tag-select select{
    height: 20px;
}

.tag-plus{
    width: 20px;
    cursor: pointer;
    border-radius: 4px;
    color: #6e7e91;
    height: auto;
    float: left;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 1px;
    position: relative;
    float: right;
}
.crop-img {
    float: right;
    margin-right: 2px;
    margin-top: 3px;
}
.other-box {
    margin: 0px auto 0 auto;
}
.other-box {
    width: 100%;
}
.body-other {
    background: #fff;
}

.sidebar .sidebar-menu {
    margin-bottom: 30px;
}
.resendUrl {
    text-decoration: underline;
    margin-top: 8px;
}
.paging_sumary {
    float: right;
    display: inline-block;
    padding-right: 8px;
    margin-top: 15px;
}
#newsfeeds_import .error-message {
    display: none;
}
.bg-grey:hover {
    color: #000;
}

.resize_button_upload{
    height: 30px;
}

.media-item {
    display: inline-block;
    width: 75px;
}
#lightBox img{
    display: none;
}
#lightBox img.current{
    display: block;
}
#lightBox .modal-footer{
    text-align: center;
}
*[image_type=user]{
    width: 75px;
}