/*
 * Skin: Blue
 * ----------
 */
.skin-forapp .main-header .navbar {
  background-color: #ff6251;
}
.skin-forapp .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-forapp .main-header .navbar .nav > li > a:hover,
.skin-forapp .main-header .navbar .nav > li > a:active,
.skin-forapp .main-header .navbar .nav > li > a:focus,
.skin-forapp .main-header .navbar .nav .open > a,
.skin-forapp .main-header .navbar .nav .open > a:hover,
.skin-forapp .main-header .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-forapp .main-header .navbar .navbar-custom-menu > .nav {
  margin-right: 10px;
}
.skin-forapp .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-forapp .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-forapp .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-forapp .main-header .navbar .sidebar-toggle:hover {
  /*background-color: #ff6251;*/
}
@media (max-width: 767px) {
  .skin-forapp .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-forapp .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-forapp .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-forapp .main-header .logo {
  background-color: #ff6251;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-forapp .main-header .logo > a {
  color: #ffffff;
}
.skin-forapp .main-header .logo:hover {
  background: #ff6251;
}
.skin-forapp .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-forapp .content-header {
  background: transparent;
}
.skin-forapp .user-panel > .info,
.skin-forapp .user-panel > .info > a {
  color: #fff;
}
.skin-forapp .sidebar-menu > li.header {
  color: #fafafa;
  background: rgba(0, 0, 0, 0.1);
}
.skin-forapp .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  margin-right: 1px;
}
.skin-forapp .sidebar-menu > li > a:hover,
.skin-forapp .sidebar-menu > li.active > a {
  color: #ff6251;
  background: #7cd4ff;
  border-left-color: #ff6251;
}
.skin-forapp .sidebar-menu > li > .treeview-menu {
  margin: 0 1px 0 3px;
  background: rgba(255, 255, 255, 0.1);
}
.skin-forapp .wrapper,
.skin-forapp .main-sidebar,
.skin-forapp .left-side {
  background: #7cd4ff;
}
.skin-forapp .sidebar a {
  color: #fafafa;
}
.skin-forapp .sidebar a:hover {
  text-decoration: none;
}
.skin-forapp .treeview-menu > li > a {
  color: #fafafa;
}
.skin-forapp .treeview-menu > li.active > a,
.skin-forapp .treeview-menu > li > a:hover {
  color: #ff6251;
}
.skin-forapp .sidebar-form {
  border-radius: 3px;
  border: 1px solid #ff6251;
  margin: 10px 10px;
}
.skin-forapp .sidebar-form input[type="text"],
.skin-forapp .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
.skin-forapp .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-forapp .sidebar-form input[type="text"]:focus,
.skin-forapp .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-forapp .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-forapp .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
.skin-forapp.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-forapp.layout-top-nav .main-header > .logo > a {
  color: #ffffff;
}
.skin-forapp.layout-top-nav .main-header > .logo:hover {
  background: #3b8ab8;
}


.bg-forapp,
.bg-forapp .login-page, 
.bg-forapp .register-page{
    background-color: #fff!important;
    color           : #999!important;
}

.bg-capture-red,
.bg-forapp-red
{
      background-color: #e61874!important;
      color           : #f9f9f9!important;
}
  
.form-box{
    margin: 40px auto 0 auto;
}
.form-box .header{
    padding: 10px;
    background-color: #e61874;
}
